CONFIG_BLINK_GPIO=5

# Partition table 
CONFIG_PARTITION_TABLE_CUSTOM=y

# Bluetooth 
CONFIG_BT_ENABLED=y
CONFIG_BT_NIMBLE_ENABLED=y
CONFIG_BT_NIMBLE_MAX_CONNECTIONS=1
CONFIG_BT_NIMBLE_MAX_BONDS=0
CONFIG_BT_NIMBLE_MAX_CCCDS=0
CONFIG_BT_NIMBLE_ROLE_CENTRAL=n
CONFIG_BT_NIMBLE_ROLE_BROADCASTER=n
CONFIG_BT_NIMBLE_ROLE_OBSERVER=n
CONFIG_BT_NIMBLE_SVC_GAP_DEVICE_NAME="device-name"
CONFIG_BT_NIMBLE_WHITELIST_SIZE=1
CONFIG_LOG_DEFAULT_LEVEL_VERBOSE=y
CONFIG_LOG_TIMESTAMP_SOURCE_SYSTEM=y
